<!DOCTYPE html> 
<html>
<head>
    <meta charset="UTF-8">
    <meta lang="en">
    <link rel="stylesheet" href="stylesheets/signup.css">
</head>

<div class="flex col-2 row" id="form">
  <div class="left col">
    <div class="col-spacer">
      <div class="form-header"><i class="fas fa-lock icon txtglow"></i><span>Login Form</span></div>
    </div>
    <div class="input-wrap">
      <div class="input-icon">
        <div class="icon"><i class="fas fa-user"></i></div>
        <input type="text" id='username' name="username" placeholder="Username or Email"/>
      </div><!--<a class="input-desc" href="#">Forgot your username?</a>
 -->   </div>
    <div class="input-wrap"> 
      <div class="input-icon">
        <div class="icon"><i class="fas fa-key"></i></div>
        <input type="password" placeholder="Password"/>
      </div><!--<a class="input-desc" href="#">Forgot your password?</a>
  -->  </div>
    <div class="flex space mt-5">
      <div class="cb-wrap">
        <input class="glow" id="remember" type="checkbox" name="rembember"/>
        <label for="remember">Remember me</label>
      </div>
      <button class="primary big" type="submit">SIGN-UP NOW</button>
    </div>
  </div>
</div>

</html>